<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>org.mnsoft.launchmgr</string>

    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/launchmgr</string>
        <string>start</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <false/>

    <key>ProcessType</key>
    <string>Background</string>

    <key>ThrottleInterval</key>
    <integer>600</integer>

    <key>StandardOutPath</key>
    <string>/tmp/launchmgr-stdout.log</string>

    <key>StandardErrorPath</key>
    <string>/tmp/launchmgr-stderr.log</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
        <key>HOME</key>
        <string>/Users/i052341</string>
    </dict>
</dict>
</plist>
